DerivedData/
DerivedData/ModuleCache.noindex/Session.modulevalidation
DerivedData/PeachParty/Build/Intermediates.noindex/PeachParty.build/Debug/PeachParty.build/Objects-normal/arm64/Actor.o
DerivedData/PeachParty/Build/Intermediates.noindex/PeachParty.build/Debug/PeachParty.build/Objects-normal/arm64/StudentWorld.dia
DerivedData/PeachParty/Build/Intermediates.noindex/XCBuildData/build.db
DerivedData/PeachParty/Build/Products/Debug/Assets/board04.txt
DerivedData/PeachParty/Build/Products/Debug/PeachParty
DerivedData/PeachParty/Index.noindex/Build/Intermediates.noindex/XCBuildData/build.db
DerivedData/PeachParty/Index.noindex/DataStore/v5/units/Actor.o-JQ5IIKMK9MEL
DerivedData/PeachParty/Index.noindex/DataStore/v5/units/StudentWorld.o-1M1U1PHDK2VLT
DerivedData/PeachParty/info.plist
DerivedData/PeachParty/Logs/Build/LogStoreManifest.plist
DerivedData/PeachParty/Logs/Launch/LogStoreManifest.plist
DerivedData/PeachParty/Logs/Notices/LogStoreManifest.plist
DerivedData/PeachParty/SymbolCache/project.plist
DerivedData/PeachParty/TextIndex/TextFragmentIndex-v8.idx
PeachParty.xcodeproj/project.xcworkspace/xcuserdata/gmao.xcuserdatad/UserInterfaceState.xcuserstate
